.header .header-logo__title, .header .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 80px;
}

.navbar-inverse {
  background-color: #191919;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav .active a {
  background-color: #053159;
  -webkit-transition: background-color 0, 5s;
  -o-transition: background-color 0, 5s;
  transition: background-color 0, 5s;
}

.navbar-inverse .navbar-nav .active:focus, .navbar-inverse .navbar-nav .active:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav li a {
  -webkit-transition: background-color 0, 5s;
  -o-transition: background-color 0, 5s;
  transition: background-color 0, 5s;
}

.navbar-inverse .navbar-nav li:hover, .navbar-inverse .navbar-nav li:focus {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #ebebeb;
}

.panel-info > .panel-heading {
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  background-color: #df8a13;
  font-size: 1.2rem;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #dddddd;
  padding: 14px 5px 11px !important;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.top-week-item__image {
  width: 100%;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "PT Serif", serif;
}

h2 {
  font-family: "PT Serif", serif;
}

a {
  color: #165690;
}

.header .header-logo {
  background-color: #232323;
  text-align: center;
  padding: 100px 0;
  background-image: url(../../assets/img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header .header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header .header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.main .new-films,
.main .top-week,
.main .movie-news,
.main .film-news {
  position: relative;
  overflow: hidden;
}

.main .new-films-title::after,
.main .top-week-title::after,
.main .movie-news-title::after,
.main .film-news-title::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.main .new-films h2::before,
.main .top-week h2::before,
.main .movie-news h2::before,
.main .film-news h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.main .new-films-row,
.main .top-week-row,
.main .movie-news-row,
.main .film-news-row {
  margin-right: -7.5px;
  margin-bottom: -15px;
  margin-left: -7.5px;
}

.main .new-films-item,
.main .top-week-item,
.main .movie-news-item,
.main .film-news-item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.main .new-films-item__image,
.main .top-week-item__image,
.main .movie-news-item__image,
.main .film-news-item__image {
  width: 100%;
}

.main .new-films-item__thumbnail,
.main .top-week-item__thumbnail,
.main .movie-news-item__thumbnail,
.main .film-news-item__thumbnail {
  margin-bottom: 0;
}

.main .new-films-item__caption,
.main .top-week-item__caption,
.main .movie-news-item__caption,
.main .film-news-item__caption {
  text-align: center;
}

.main .new-films-item__title,
.main .top-week-item__title,
.main .movie-news-item__title,
.main .film-news-item__title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  -o-text-overflow: ellipsis;
}

.main .film-news .film-news-item {
  padding: 0;
}

.main .film-news .film-news-item .row {
  margin-right: -15px;
  margin-left: -15px;
}

.main .film-news .film-news-item .row::before, .main .film-news .film-news-item .row::after {
  clear: both;
}

.main .film-news .film-news-item .row .film-news-text {
  text-align: justify;
}

.main .film-news .film-news-item .row .film-news-item__button {
  float: right;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  margin: 0 0 30px 0;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.left-sidebar .vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.left-sidebar .vertical-slider__image {
  width: 100%;
}

.left-sidebar .site-search {
  margin-bottom: 30px;
}

.left-sidebar .user-login {
  margin-bottom: 30px;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.site-news-item:hover a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child) ::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  background-color: #dddddd;
  background-color: #dddddd;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  margin-right: -1px;
  margin-left: -1px;
  padding-right: 55px;
  color: #165690 !important;
  background-color: transparent;
}

.top-films__item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films__item:last-child {
  border-bottom: none;
  border-radius: 0;
}

.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  border-color: #df8a13;
  background-color: #df8a13 !important;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
    margin: -7.5px 0 45px;
  }
  h2 {
    margin: 60px 0 45px 45px;
    font-size: 2.5rem;
  }
  .header .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav li a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (min-width: 768px) and (max-width: 767.8px) {
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav li a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
}

@media (max-width: 575.8px) {
  h1 {
    font-size: 2rem;
    margin: 0 0 45px;
  }
  .header .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    margin-right: -7.5px;
  }
}
